/.phpunit.cache
/node_modules
/mobile-app/node_modules
/mobile-app/.expo
/mobile-app/.expo-shared
/mobile-app/dist
/mobile-app/android/.kotlin
/mobile-app/android/keystore.properties
/mobile-app/android/**/*.jks
/mobile-app/android/**/*.keystore
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/views/*.php
/docs/generated
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
